:root {
    --white: #ffffff;
    --dark-black: #070724;
    --dark-grey: #38384f;
    --grey: #838391;
    --blue: #419ebb;
    --dark-yellow: #eda249;
    --violet: #6d2ed5;
    --orange: #d14c32;
    --dark-orange: #d83a34;
    --brown: #cd5120;
    --aqua: #1ec1a2;
    --linear-blue: #2d68f0;
}
