.header {
    padding: 22px 0 27px;
    border-bottom: 1px solid var(--dark-grey);

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40px 0 32px;
    }

    &__logo {
        text-decoration: none;

        h1 {
            font-weight: 400;
            font-size: 28px;
            letter-spacing: -1.05px;
            text-transform: uppercase;
            color: var(--white);
        }
    }
}

.nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__list {
        max-width: 665px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
    }

    &__item {
        position: relative;

        a {
            text-decoration: none;
        }

        span {
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: var(--grey);
            cursor: pointer;
            transition: color 0.5s ease;

            &:hover {
                color: var(--white);
            }
        }
    }

    &__underline {
        width: 0%;
        background: inherit;
        height: 4px;
        position: absolute;
        top: -33px;
        transition: all 0.8s ease;
        margin: 0 auto;
    }

    &__item--active-mercury span,
    &__item--active-venus span,
    &__item--active-earth span,
    &__item--active-mars span,
    &__item--active-jupiter span,
    &__item--active-saturn span,
    &__item--active-uranus span,
    &__item--active-neptune span {
        color: var(--white);
    }

    &__item--active-mercury .nav__underline {
        width: 100%;
        background: var(--blue);
    }

    &__item--active-venus .nav__underline {
        width: 100%;
        background: var(--dark-yellow);
    }

    &__item--active-earth .nav__underline {
        width: 100%;
        background: var(--violet);
    }

    &__item--active-mars .nav__underline {
        width: 100%;
        background: var(--orange);
    }

    &__item--active-jupiter .nav__underline {
        width: 100%;
        background: var(--dark-orange);
    }

    &__item--active-saturn .nav__underline {
        width: 100%;
        background: var(--brown);
    }

    &__item--active-uranus .nav__underline {
        width: 100%;
        background: var(--aqua);
    }

    &__item--active-neptune .nav__underline {
        width: 100%;
        background: var(--linear-blue);
    }
}

.burger {
    display: none;
}

@media (max-width: 1000px) {
    .header__container {
        flex-direction: column;
        gap: 39px;
        align-items: center;
    }

    .nav {
        width: 100%;
        justify-content: center;
    }

    .nav__list {
        justify-content: space-between;
    }

    .nav__underline {
        top: 38px;
    }
}

@media (max-width: 755px) {
    .header {
        padding: 16px 24px;
    }

    .header__container {
        flex-direction: row;
        padding: 0;
        gap: 0;
    }

    .burger {
        display: block;
        background: inherit;
        border: none;
        outline: none;
    }

    .nav {
        display: none;
    }
}
